<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table id="dataTable">
        <thead>
            <tr>
                <th onclick="sortTable(1)">Date <i class="fa-solid fa-sort"></i></th>
                <th onclick="sortTable(2)">Amount <i class="fa-solid fa-sort"></i></th>
                <th onclick="sortTable(3)">Fee <i class="fa-solid fa-sort"></i></th>
                <th onclick="sortTable(4)">Service <i class="fa-solid fa-sort"></i></th>

                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for item in airtime %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.fee }}</td>
                    <td>{{ item.service_provider }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>